{# empty Twig template #}

{% block footer %}
<hr>
<footer>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-footer">
                <div class="panel-body col-md-offset-4">
                Copyright &copy; 2014 <a href="http://antoniolorenzo.esy.es/" target="_blank">&nbsp;www.antoniolorenzo.esy.es</a>        
                </div>            
             </div>
        </div>    
    </div>                
</footer>
{% endblock %}